
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-image: url("pexels-alex-andrews-821644.jpg"); 
            background-size: cover;
            background-position: center;
            display: flex; 
            justify-content: center;
            align-items: center;
            min-height: 100vh; 
        }

        a {
            text-decoration: none;
            color: rgb(250, 225, 0);
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #000080; 
            transition: background-color 0.2s ease-in-out;
        }

        a:hover {
            background-color: #3333cc; 
        }
